.DS_Store
unity-sdk/Assembly-*.*
unity-sdk/Temp
unity-sdk/obj/
unity-sdk/Library/*
revmob-android-wrapper/target
revmob-android-wrapper/bin
revmob-unity-sdk/
revmob-unity-sdk-*
revmob-sample-app/Library
revmob-sample-app/Temp
revmob-sample-app/obj
*.csproj
*.unityproj
*.sln
*.pidb
*.userprefs
*.suo
*.svd
*.unitypackage
R.java
build_error.log
*.mobileprovision
*.p12
